node-linker=hoisted
strict-peer-dependencies=false
auto-install-peers=true
shamefully-hoist=true
confirm-modules-purge=false
enable-pre-post-scripts=true
auto-install-peers=true
strict-peer-dependencies=false
shared-workspace-lockfile=true
node-linker=isolated